<header>
  <a href="/">Общие настройки</a>
  <a href="pages">Настройка страниц</a>
  <a href="files">Управление файлами</a>
  <a href="change_password">Изменить пароль</a>
  <a href="logout">Выйти</a>
</header>
<div class="container">
    <div class="">
      тут будут показываться настройки
    </div>
</div>
