<div class="container">
  <a class="top-left-absolute-link" href="../">На главную</a>
  <div class="full-center-block">
    <form class="login-form" action="" method="post">
      <h2>вход:</h2>
      <label><span>email: </span><input type="email" name="email"></label>
      <label><span>пароль: </span><input type="password" name="password"></label>
      <input type="submit" value="войти">
    </form>
  </div>
</div>
<script type="text/javascript">

</script>
