html{
  --dark: rgb(43, 43, 43);
  --light: rgb(43, 43, 43);
  --filler-color: #f94040;
  --main-color: #fd6a1c;
  --font-1: 'AlegreyaSansSC', sans-serif;
  --font-2: 'OpenSans', sans-serif;
  background-color: var(--dark);
  color: rgb(211, 211, 211);
  --sm: 8%;
  font-family: var(--font-2);
  font-weight: bold;
  --transition: all .5s;
}
body{
  margin: 0;
}
*::selection{
  color: var(--main-color);
  background: #777;
  }
a{
  color: inherit;
  text-decoration: none;
}
a:hover,a:focus{
  color: var(--main-color);
}
h1{
  font-family: var(--font-1);
  font-weight: 800;  font-size: 72px;
  background: -webkit-linear-gradient(#fd6a1c, #f94040);
  transition: background-image 2s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.noa{
  text-decoration: none;
  color: inherit;
}
.noa:hover{
  text-decoration: none;
  color: inherit;
}
.menu{
  position: fixed;
  top: 0;
  width: 84%;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--sm);
  z-index: 1000000;
  display: flex;
}
.menu .logo{
  background-image: url(img/boxer_logo.png);
  flex:30;
}
.menu .list{
  flex:40;
  text-align: right;
}
.menu .item{
  font-size: 16px;
  height: 100%;
  padding: 16px;
  font-weight: bold;
  text-shadow: 0 0 2px #333;
}
.menu-contacts{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  flex: 20;
}
.menu-contacts .tel{
  width: 100%;
  font-size: 22px;
}
.menu-contacts .place{
  font-weight: normal;
}

/*FOOTER*/
.credits{
  text-align: center;
  font-family: 'OpenSans';
  font-weight: bold;
  margin: 1pc 0;
}
.selfish-fish{
  color: rgb(119, 119, 119);
}
@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal
}
@font-face {
    font-family: 'AlegreyaSansSC';
    src: url("fonts/AlegreyaSansSC-Black.ttf");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal
}
